<a href="https://colab.research.google.com/github/PPythnoni/plotly_dash/blob/main/crime_piechart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objs as go
import pandas as pd
import plotly.express as px
import numpy as np
df = pd.read_csv("crime_data.csv")

In [ ]:
df.head()

,CrimeDate,CrimeTime,CrimeCode,Location,Description,Inside/Outside,Weapon,Post,District,Neighborhood,Longitude,Latitude,Location 1,Premise,Total Incidents
0,09/02/2017,23:30:00,3JK,4200 AUDREY AVE,ROBBERY - RESIDENCE,I,KNIFE,913.0,SOUTHERN,Brooklyn,-76.60541,39.22951,"(39.2295100000, -76.6054100000)",ROW/TOWNHO,1
1,09/02/2017,23:00:00,7A,800 NEWINGTON AVE,AUTO THEFT,O,NaN,133.0,CENTRAL,Reservoir Hill,-76.63217,39.31360,"(39.3136000000, -76.6321700000)",STREET,1
2,09/02/2017,22:53:00,9S,600 RADNOR AV,SHOOTING,Outside,FIREARM,524.0,NORTHERN,Winston-Govans,-76.60697,39.34768,"(39.3476800000, -76.6069700000)",Street,1
3,09/02/2017,22:50:00,4C,1800 RAMSAY ST,AGG. ASSAULT,I,OTHER,934.0,SOUTHERN,Carrollton Ridge,-76.64526,39.28315,"(39.2831500000, -76.6452600000)",ROW/TOWNHO,1
4,09/02/2017,22:31:00,4E,100 LIGHT ST,COMMON ASSAULT,O,HANDS,113.0,CENTRAL,Downtown West,-76.61365,39.28756,"(39.2875600000, -76.6136500000)",STREET,1

In [ ]:
df.columns.to_list()

['CrimeDate',
 'CrimeTime',
 'CrimeCode',
 'Location',
 'Description',
 'Inside/Outside',
 'Weapon',
 'Post',
 'District',
 'Neighborhood',
 'Longitude',
 'Latitude',
 'Location 1',
 'Premise',
 'Total Incidents']

In [ ]:
df["Inside/Outside"].value_counts()

Outside    133619
Inside     132631
Name: Inside/Outside, dtype: int64

In [ ]:
df["Inside/Outside"].replace("I","Inside",inplace=True)

In [ ]:
df["Inside/Outside"].replace("O","Outside",inplace=True)

In [ ]:
df["Inside/Outside"].value_counts()

Outside    133619
Inside     132631
Unknown     10279
Name: Inside/Outside, dtype: int64

In [ ]:
df.isnull().sum()

CrimeDate               0
CrimeTime               0
CrimeCode               0
Location             2207
Description             0
Inside/Outside          0
Weapon             180952
Post                  224
District               80
Neighborhood         2740
Longitude            2204
Latitude             2204
Location 1           2204
Premise             10757
Total Incidents         0
dtype: int64

In [ ]:
df["Inside/Outside"].replace(np.nan,"Unknown",inplace=True)

In [ ]:
df["Inside/Outside"].value_counts()

Outside    133619
Inside     132631
Unknown     10279
Name: Inside/Outside, dtype: int64

In [ ]:
df["Weapon"].replace(np.nan,"UNSPECIFIED",inplace=True)

In [ ]:
df.isnull().sum()

Description          0
Inside/Outside       0
Weapon               0
District            80
Neighborhood      2740
dtype: int64

In [ ]:
df.columns

Index(['Description', 'Inside/Outside', 'Weapon', 'District', 'Neighborhood'], dtype='object')

In [ ]:
df = df[["Description","Inside/Outside","Weapon","District","Neighborhood"]]

In [ ]:
df.dropna(inplace=True)

In [ ]:
app = dash.Dash()

app.layout = html.Div([
    html.Div([
        html.Label(['Crime in Baltimore, Maryland']),
        dcc.Dropdown(
            id='my_dropdown_menu',
            options=[
                     {'label': 'Description', 'value': 'Description'},
                     {'label': 'Inside/Outside', 'value': 'Inside/Outside'},
                     {'label': 'Weapon', 'value': 'Weapon'},
                     {'label': 'District', 'value': 'District'}
            ],
            value='Description', #initial value
            multi=False, # only one value can be chosen
            clearable=False, # always one value chosen
            style={"width": "50%"}
        ),
    ]),

    html.Div([
        dcc.Graph(id='the_graph')
    ]),

]) #<----- layout closes here


@app.callback(
    Output(component_id='the_graph', component_property='figure'), #<---- what is sent to the graph
    [Input(component_id='my_dropdown_menu', component_property='value')]  #<--- what the uses chooses
)

def update_graph(my_dropdown):  #<---- the input
    dff = df #<--- df needs to be copied

    piechart=px.pie(
            data_frame=dff,
            names=my_dropdown,
            hole=.3,
            )

    return (piechart) #<--- returns the output apparently


if __name__ == '__main__':
    app.run_server()